# Anaconda/Virtual Environments
mediapipe_env/
env/
venv/
.conda/
__pycache__/

# Model files (too large for GitHub)
*.pth
*.h5

# Python
*.pyc
*.pyo
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
*.mp4
*.avi
